*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   height: 100vh;
   width: 100%;
   background: linear-gradient(45deg, #FCF5E5,#dff4c5);
   display: flex;
   align-items: center;
   justify-content: center;
}
.calculator{
    width: 350px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    
}
.input{
    width: 100%;
}
#inputBox{
    background-color: #FCF5E5;
    height: 100px;
    border: none;
    text-align: right;
    padding: 20px;
    display: flex;
    font-size: 30px;
    width: 100%;
}
.buttons{
    width: 100%;
    background-color: #B8F3D7;
    padding: 30px 15px 15px 15px ;
}
.row{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 10px;
}
.row button{
    cursor: pointer;
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    transition: all linear 0.2s;
    &:active{
        transform: scale(1.08);
    }
}